<script>
 function showChilds(parent, num_children, is_auth, depth, username, offset) {
     console.log("showChilds "+parent+" "+offset);
     if ($("#showreplies-"+parent).length && offset == 0) {
         $("#showreplies-"+parent).html("Piilota vastaukset ("+num_children+")");
         $("#showreplies-"+parent).attr("onclick", "hideChilds("+parent+", "+num_children+", "+is_auth+", "+depth+", \""+username+"\"); return false;");
     }
     $.getJSON("/getposts?parent="+parent+"&offset="+offset, function(result){
         $.each(result.posts, function(i, post) {
             posthtml = "<div class='post' id='post-"+post['id']+"'><p class='post-user'><a id='post-"+post['id']+"-userlink' href='{{ url_for('profile') }}?user="+encodeURIComponent(post['username'])+"'></a></p><p id='post-"+post['id']+"-message' class='post-message'></p><div class='replybar'>";
             if (is_auth) {
                 posthtml += "<a href='' style='margin-right:15px;' onclick='showReplyField("+post['id']+");return false;'>Vastaa</a>";
             }
             if (username == post['username']) {
                posthtml += "<a href='' style='margin-right:15px;' onclick='showEditField("+post['id']+");return false;'>Muokkaa</a>";
                posthtml += "<a href='' style='margin-right:15px;' onclick='deletePost("+post['id']+");return false;'>Poista</a>";
             }
             if (post['children'] > 0) {
                 posthtml += "<a style='margin-right:15px;' id='showreplies-"+post['id']+"' href='' onclick='showChilds("+post['id']+", "+post['children']+", "+is_auth+", "+(depth+1)+", \""+username+"\", 0);return false;'>Näytä vastaukset ("+post['children']+")</a>";
             }
             posthtml += "<a href='{{ url_for('thread') }}?pid="+post['id']+"' style='margin-right:15px;'>Linkki</a>";
             if (is_auth) {
                posthtml += "<span id='favobutton-"+post['id']+"'>";
                if (post['is_favorite']) {
                    posthtml += "<a href='' onclick='remFavorite("+post['id']+");return false;' style='margin-right:15px;'>Poista suosikeista</a>";
                } else {
                    posthtml += "<a href='' onclick='addFavorite("+post['id']+");return false;' style='margin-right:15px;'>Lisää suosikiksi</a>";
                }
                posthtml += "</span>";
            }
            posthtml += "</div><div id='post-"+post['id']+"-children' class='post-children'></div></div>";
            $("#post-"+parent+"-children").append(posthtml);
            $("#post-"+post['id']+"-message").text(post['message']);
            $("#post-"+post['id']+"-userlink").text(post['username']);
         });
         if (depth == 0) {
             $.each(result.posts, function(i, post) {
                 showChilds(post['id'], post['children'], is_auth, depth+1, username, 0);
             });
         }
         if (result.next_offset > offset) {
            $("#post-"+parent+"-children").append("<div id='loadmore-"+parent+"'><a href='' onclick='loadMore("+parent+", 0, "+is_auth+", "+depth+", \""+username+"\", "+result.next_offset+");return false;'>Näytä lisää</a></div>");
         }
     });
 }

 function deletePost(post_id) {
    $.post("{{ url_for('delete_post') }}", {id: post_id}, function(result){
        $("#post-"+post_id).remove();
    });
 }

 function hideChilds(parent, num_children, is_auth, depth, username) {
     console.log("hideChilds "+parent);
     $("#post-"+parent+"-children").empty();
     $("#showreplies-"+parent).html("Näytä vastaukset ("+num_children+")");
     $("#showreplies-"+parent).attr("onclick", "showChilds("+parent+", "+num_children+", "+is_auth+", "+depth+", \""+username+"\", 0); return false;");
 }

 function showReplyField(post) {
     $("#post-"+post+"-replyfield").remove();
     $("#post-"+post+"-editfield").remove();
     replyhtml = '<div class="replyfield" id="post-'+post+'-replyfield"><form method="POST" action=" {{ url_for('posts_create') }} "> {{ postform.message }} <input type="hidden" name="parent_msg" value="'+post+'"/><br><input type="submit" value="Vastaa"/></form></div>';
     $("#post-"+post+"-children").prepend(replyhtml);
 }

function showEditField(post) {
    $("#post-"+post+"-replyfield").remove();
     $("#post-"+post+"-editfield").remove();
     edithtml = '<div class="editfield" id="post-'+post+'-editfield"><form method="POST" action=" {{ url_for('edit_post') }} "> {{ postform.message }} <input type="hidden" name="id" value="'+post+'"/><br><input type="submit" value="Muokkaa"/></form></div>';
     $("#post-"+post+"-children").prepend(edithtml);
     $("#post-"+post+"-editfield form textarea").val($("#post-"+post+"-message").text());
}
function loadMore(parent, num_children, is_auth, depth, username, offset) {
    $("#loadmore-"+parent).remove();
    showChilds(parent, num_children, is_auth, depth, username, offset);
}
function addFavorite(post_id) {
    $.post("{{ url_for('add_favorite') }}", {post_id: post_id}, function(result) {
        $("#favobutton-"+post_id).html("<a href='' onclick='remFavorite("+post_id+");return false;' style='margin-right:15px;'>Poista suosikeista</a>");
    });
}
function remFavorite(post_id) {
    $.post("{{ url_for('rem_favorite') }}", {post_id: post_id}, function(result) {
        $("#favobutton-"+post_id).html("<a href='' onclick='addFavorite("+post_id+");return false;' style='margin-right:15px;'>Lisää suosikiksi</a>");
    });
}
</script>
