<meta charset="utf-8">
<title>Keskustelufoorumi</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for ('static', filename='jquery-3.3.1.min.js') }}"></script>
<table id='nav'>
  <tr id='headnav'>
    <td id='navheader'>
        <h1>Keskustelufoorumi</h1>
        <p>{{ users_count() }} rekisteröitynyttä käyttäjää</p>
    </td>
    <td id='navuserinfo'>
      {% if current_user.is_authenticated %}
      <p>Kirjautunut: <a href="{{ url_for('profile') }}?user={{ current_user.username | urlencode }}">{{ current_user.username }}</a></p>
      {% else %}
      <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
      {% endif %}
    </td>
  </tr>
</table>
<div id='topnav_wrapper'>
  <table id='topnav'>
    <tr>
      <td class='nava'>
        <a href="{{ url_for('index') }}">Etusivu</a>
      </td>
      {% if not current_user.is_authenticated %}
      <td class='nava'>
        <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
      </td>
      <td class='nava'>
        <a href="{{ url_for('auth_register') }}">Rekisteröidy</a>
      </td>
      {% else %}
      <td class='nava'>
        <a href="{{ url_for('favorites') }}">Suosikit</a>
      </td>
      <td class='nava'>
        <a href="{{ url_for('profile') }}?user={{ current_user.username | urlencode }}">Profiili</a>
      </td>
      <td class='nava'>
        <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
      </td>
      {% endif %}
    </tr>
  </table>
</div>
<div id='content'>
{% block body %}
{% endblock %}
</div>
